$color-primary: #0BD3D3;
$color-secondary: #F890E7;
$color-white: #FFFFFF;
$color-gray: #D0D0D0;
$color-black: #000000;

header {
  background: #161415 url(./assets/hero.png) no-repeat top center;
}

.Resume-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}